body{
    background: #111;
}

.lerohs{
    margin-top: 35vh;
}

.fraseLero{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.autorLero{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    display: block;
    margin-top: 15px;
}

.autorLero span{
    color: red;
}

.autorFoto{
    
}

.autorFoto img{
    border-radius: 60%;
}